@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body,main,html{
    height: 100%;
    margin: 0;

}
.ageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    width: 100px;
    margin: 0 auto;
}
.ageInput {
    margin-top: 10px;
    width: 35px;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#resultDisplay{
    margin-top: 10px;
    text-align: center;
}
button{
    margin-top: 10px;
}
h1{
    text-align: center;
}
.parentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
button:hover{
    scale: 1.1;
}